.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 102, 203, 0.099);
}

.about-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.about-1 img {
  max-width: 550px;
  margin-right: 30px;
  border-radius: 15px;
  animation: fadeIn 1.2s ease-in-out;
}

.about-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.about-2 img {
  max-width: 500px;
  border-radius: 15px;
  animation: fadeIn 1.2s ease-in-out;
}

p {
  font-size: 18px;
  font-weight: 500;
}

.about-1 img:hover {
  transform: translate(20px);
  animation: scaleUp 0.5s ease-in-out forwards;
}

.about-main img {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.692), 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.main-text {
  display: flex;
  text-align: center;
  padding: 2px;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 50px;
  animation: fadeIn 1s ease-in-out;
}

.about-2 img:hover {
  transform: translate(-20px);
  animation: scaleUp 0.5s ease-in-out forwards;
}

.visit {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(28, 68, 103, 0.491);
}
/* Keyframes for animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 460px) {
  .about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-1 {
    display: flex;
    flex-direction: column;
  }

  .about-2 {
    display: flex;
    flex-direction: column;
  }

  .about-main img {
    width: 210px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    padding: 0px;
  }

  .main-text {
    font-size: 20px;
    margin-top: 20px;
    border-radius: 0;
  }
}
